@import "./utils/variables";
@import "./utils/fonctions";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./base/base";
@import "./base/typography";
@import "./composants/bouttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/footer";
@import "./layouts/main";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

/* animation spinner*/
#container1 {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  animation: 5ms disapear;
  section.bloc1 {
      position: relative;
      top: 50%;
      left: 50%;
          @include loading;
  }
}

#container2 {
  border: solid $color-primary;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15fr 2fr;
  grid-template-areas:
    "bloc-header"
    "bloc-main"
    "bloc-footer";
  position: relative;
  height: 180vh;
  z-index: 1;
  animation: 2.6s appear;

}

@include header;

@include main;

@include footer;

@keyframes appear{
  0%{
    opacity: 0;
  }

  90%{
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
