@import "./utils/variables";
@import "./utils/fonctions";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./base/base";
@import "./base/typography";
@import "./composants/bouttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/footer";
@import "./layouts/main";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";



#container2 {
  border: solid $color-primary;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15fr 2fr;
  grid-template-areas:
    "bloc-header"
    "bloc-main"
    "bloc-footer";
  position: relative;
  height: fit-content;
}

@include header;

@include main;

@include footer;





/* animation spinner
#container1 {
    z-index: 1;
    height: 100vh;
    position: absolute;
    section.bloc1 {
        position: relative;
        top: 50%;
        left: 50%;
            @include loading;
        
    }
}*/
