@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes disapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  max-width: 95%;
  margin: auto;
}

img.img_page {
  height: 200px;
  width: 100%;
  object-fit: content;
}

div.title_page {
  display: flex;
  justify-content: space-between;
}
div.title_page i {
  margin-top: auto;
  margin-bottom: auto;
}

div.card_page {
  border-radius: 10px;
  background-color: lightgrey;
  width: 100%;
  justify-content: space-between;
}
div.card_page:hover .animation_page {
  width: 100px;
  opacity: 1;
  background-color: red;
}

div.card_txt_page {
  display: flex;
  justify-content: space-between;
}

div.command_btn button {
  background: #FF79DA;
  border-radius: 30px;
  color: #fff;
  padding: 15px 20px 14px;
  text-decoration: none;
}

.card_content {
  width: 100%;
}
.animation_page {
  background-color: green;
  width: 0;
}

/* animation spinner*/
#container1 {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  animation: 5ms disapear;
}
#container1 section.bloc1 {
  position: relative;
  top: 50%;
  left: 50%;
}
#container1 section.bloc1 .spinner {
  color: #9356DC;
  position: absolute;
  margin: auto;
}
#container1 section.bloc1 .spinner div {
  transform-origin: 40px 40px;
  animation-duration: 2.2s;
  animation-name: spinner;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
#container1 section.bloc1 .spinner div:after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 17px;
  width: 6px;
  height: 18px;
  border-radius: 25%;
  background: #9356DC;
  animation: 5ms disapear;
}
#container1 section.bloc1 .spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -2.2s;
}
#container1 section.bloc1 .spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -2s;
}
#container1 section.bloc1 .spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -1.8s;
}
#container1 section.bloc1 .spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -1.6s;
}
#container1 section.bloc1 .spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -1.4s;
}
#container1 section.bloc1 .spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -1.2s;
}
#container1 section.bloc1 .spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -1s;
}
#container1 section.bloc1 .spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.8s;
}
#container1 section.bloc1 .spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.6s;
}
#container1 section.bloc1 .spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.4s;
}
#container1 section.bloc1 .spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.2s;
}
#container1 section.bloc1 .spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes spinner {
  100% {
    opacity: 0;
  }
}

#container2 {
  border: solid #9356DC;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 15fr 2fr;
  grid-template-areas: "bloc-header" "bloc-main" "bloc-footer";
  position: relative;
  height: 180vh;
  z-index: 1;
  animation: 2s appear;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  background-color: red;
  grid-area: bloc-header;
}
header .header_content {
  display: flex;
}
header .header_content img {
  width: 150px;
  height: auto;
  display: block;
  margin: auto;
}

main {
  grid-area: bloc-main;
  background-color: blue;
}
main div.location {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: grey;
  box-shadow: 3px -8px 10px -1px #000000;
}
main div.reservation {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-right: 7%;
  text-align: center;
}
main div.reservation_btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
main div.reservation_btn button {
  background: #FF79DA;
  border-radius: 30px;
  color: #fff;
  padding: 15px 20px 14px;
  text-decoration: none;
}

article.bloc1 {
  background-color: green;
}

aside {
  background-color: cyan;
}
aside h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}
aside div.card_aside {
  display: flex;
  justify-content: flex-start;
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
  position: relative;
  background-color: grey;
}
aside div.card_aside .number {
  border-radius: 50%;
  padding: 10px;
  background-color: #9356DC;
  color: white;
  position: absolute;
  left: -4px;
  bottom: 8%;
}
aside div.card_aside .aside_text,
aside div.card_aside i {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
}

article.bloc2 {
  background-color: gold;
}

.bloc3 {
  background-color: darkblue;
  padding-top: 40px;
}
.bloc3 .card {
  position: relative;
  border-radius: 10px;
  background-color: lightgrey;
  margin: 10px 0;
}
.bloc3 .card_nouveau {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 70px;
  background-color: teal;
}
.bloc3 .card_nouveau p {
  text-align: center;
}
.bloc3 .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card_txt {
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
}
.card_txt .card_txt_icone {
  position: relative;
  align-items: center;
  padding-right: 50px;
  margin-top: auto;
  margin-bottom: auto;
}
.card_txt .card_txt_icone i {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: larger;
}
.card_txt .card_txt_icone .icon-default {
  transition: opacity 0.5s, transform 0.5s;
}
.card_txt .card_txt_icone .icon-hover {
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
}
.card_txt:hover .icon-hover {
  transform: scale(1);
  opacity: 1;
}
.card_txt:hover .icon-default {
  opacity: 0;
}

footer.footer {
  background-color: aqua;
  grid-area: bloc-footer;
}

div.link a {
  display: flex;
  flex-direction: row;
}
div.link a i {
  margin-right: 8px;
  width: 20px;
}

/*# sourceMappingURL=style.css.map */
