@mixin footer {
  footer.footer {
    grid-area: bloc-footer;
    background-color: #353535;
    color: white;
    font-size: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    h2 {
      margin: 15px 0;
      padding-bottom: 5px;
      font-size: 20px;
    }
    a {
      padding-bottom: 5px;
    }
    p {
      padding-bottom: 5px;
      color: white;
    }
  } 
}


  div.link a {
    display: flex;
    flex-direction: row;
    color: inherit;
    i {
      margin-right: 8px;
      width: 20px;
      color: white;
    }
  }


footer{


  
}